<style type="text/css">
#slider {
  top: 780px;
  left: 160px;
}
#play {
  top: 780px;
  left: 120px;
}
</style>

<h1> Choropleth Map </h1>

<div id="content">
</div>

<a href="#" onclick="playSlider(1); return false" id="play">Play</a>
<div id="slider" class="dragdealer">
  <div class="handle" id="handle">2010</div>
</div>

<script type="text/javascript">
  var chart;
  var slider;
  var year = 2010;

  function playSlider(i) {
    slider.setStep(i);
    window.setTimeout(function() {
      if (i <= 4) playSlider(i+1);
    }, 1500);
  }

  function createSlider(vis) {
    slider = new Dragdealer('slider', {
      steps: 4,
      snap: true,
      animationCallback: function(x, y) {
        year = 2010 + parseInt(x * 3);
        vis.updateVis({ 'regions' : vis.currentState.regions.replace(/_[0-9]{4}$/, '_') + year, 'bubbles' : vis.currentState.bubbles.replace(/_[0-9]{4}$/, '_') + year });
        $('handle').update(year);
      }
    });
  }

  var queryString = window.location.search.replace(/^\?/,'').split('&');
  var queryParams = {};
  for (var i=0; i < queryString.length; i++) {
    var pair = queryString[i].split('=');
    queryParams[pair[0]] = pair[1];
  }

  window.onload = function() {
    chart = new choroplethMap({
      'container' : 'content',
      'size' : [700,700],
      'position' : [130,50],
      'background' : ['#b9a680','#f0e4ca'],
      'colors' : ['#FFEFD7','#FFE2B6','#FFC56E','#FFAA29','#C17500','#995D00'],
      'strokeWidth' : 2,
      'strokeColor' : '#666',
      'defaultRegionColor' : '#eeeeee',
      'strokeHoverColor' : '#000',
      'lang' : queryParams.lang || 'en',
      'map' : 'brazil',
      'requestPath' : 'map_data',
      'requestMethod' : 'get',
      'initialState' : { 'regions' : 'fp_predicted_2010', 'bubbles' : 'fp_predicted_2010' },
      'range' : 'log10',
      'showLegend' : true,
      'useDefaultInterface' : true,
      'showLabels' : true,
	    'callback' : function(vis) { createSlider(vis); },
    });
  }
</script>
