<!DOCTYPE html>
<html>
<head>
  <title>Sgi</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'openedeyes_free/openedeyes/js/openedeyes.js', :id => 'openedeyes'%>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
